@font-face {
  font-family: 'Saudagar';
  src: url("../fonts/Saudagar.woff2") format("woff2"), url("../fonts/Saudagar.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sukhumvit Set';
  src: url("../fonts/SukhumvitSet-Light.woff2") format("woff2"), url("../fonts/SukhumvitSet-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.text {
  font-family: 'Sukhumvit Set', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.big-text {
  font-family: 'Saudagar', sans-serif;
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.main-page {
  width: 100%;
  height: 100%;
  max-height: 1200px;
  color: white;
  background: url("../img/main_background.png") rgba(0, 0, 0, 0.72) no-repeat;
  background-blend-mode: darken;
  object-fit: cover;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.938rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.header {
  max-width: 1452px;
  margin: 0 auto;
  padding: 80px 20px 0;
  width: 100%;
}

.header-container {
  display: flex;
  max-height: 51px;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item:not(:last-child) {
  padding-right: 66px;
}

.main-content {
  margin-top: 249px;
  padding-bottom: 349px;
  display: grid;
  justify-content: center;
}

.main-item {
  margin: 0 auto;
}

.btn-subscribe-main {
  width: 282px;
  height: 59px;
  background-color: #DCAC9B;
  border: none;
  border-radius: 2px;
}

.main-title {
  font-family: 'Saudagar', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17.188rem;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white;
  margin: 0 auto;
  animation: typing 7s steps(30, end) infinite, blink-caret 1s step-end infinite;
  -webkit-animation: typing 7s steps(30, end) infinite, blink-caret 1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  51% {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.main-subtitle {
  font-weight: 300;
  font-size: 2rem;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 70px;
}

button {
  cursor: pointer;
}

.btn {
  font-family: 'Sukhumvit Set', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
}

.coming-soon {
  width: 100%;
  color: white;
  background-color: #1A1A1A;
}

.second-container {
  overflow: hidden;
}

.coming-soon-bg-container {
  margin: -9px 0 0 -23px;
  width: 1966px;
}

.coming-soon-bg-title {
  font-family: 'Saudagar', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16vw;
  line-height: 100%;
  padding-bottom: 211px;
  margin: 0 auto;
  text-transform: uppercase;
  opacity: 0.06;
  animation: blink-text 3s linear infinite;
}

@keyframes blink-text {
  50% {
    color: rgba(255, 255, 255, 0.06);
  }
  51% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 0.06);
  }
}
.coming-soon-container {
  max-width: 877px;
  margin: 0 auto 438px;
  padding: 0 5px;
}

.coming-soon-title {
  font-size: 3.125rem;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
}

.coming-soon-description {
  padding-top: 46px;
}

.coming-soon-text-description {
  font-weight: 300;
  font-size: 22px;
  line-height: 172%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.coming-soon-text-description {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.container-image-01 {
  position: relative;
  top: -200px;
  display: flex;
  justify-content: center;
}

.image-01 {
  width: 100%;
  max-width: 1520px;
  height: auto;
}

.info-container-01 {
  max-width: 1339px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 320px;
  display: flex;
  justify-content: space-between;
}

.animated-block {
  transition: 0.3s;
}
.animated-block:hover {
  box-shadow: 7px 7px rgba(215, 215, 215, 0.73);
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  border-radius: 7px;
}

.info-text-01 {
  width: 484px;
  height: 318px;
}

.text-number {
  color: #DCAC9B;
  font-size: 1.875rem;
  text-transform: uppercase;
}

.text-title {
  font-size: 3.125rem;
  line-height: 130%;
  color: #1A1A1A;
  text-transform: uppercase;
}

.text-description {
  padding-top: 47px;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  color: rgba(26, 26, 26, 0.8);
}

.container-02 {
  height: 950px;
  color: white;
  background: #1A1A1A;
}

.wrapper-02 {
  width: 100%;
  max-width: 1437px;
  margin: 0 200px 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-text-02 {
  width: 100%;
  max-width: 484px;
  height: 318px;
  padding: 0 20px;
}

.white-text {
  color: white;
}

.opacity-text {
  color: rgba(255, 255, 255, 0.8);
}

.container-image-02 {
  position: relative;
  top: -80px;
}

.image-02 {
  width: 100%;
  max-width: 580px;
  height: auto;
}

.image-02-01 {
  display: none;
}

.container-03 {
  width: 100%;
  max-width: 1690px;
  margin: 240px auto 0;
}

.info-containers {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.info-text-03, .info-text-04 {
  max-width: 484px;
  padding: 0 20px;
}

.image-phone {
  border: black solid 7px;
  border-radius: 19px;
}

.figures-container {
  margin-top: 279px;
  display: flex;
}

.ellipse-size {
  width: 100%;
  max-width: 541px;
  margin: 0 auto;
}

.ellipse {
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: rgba(220, 172, 155, 0.6);
  animation: animate-grow 2s infinite;
}

@keyframes animate-grow {
  from, to {
    transform: scale3d(1, 1, 1);
  }
  50% {
    border-radius: 45%;
    transform: scale3d(1.03, 1.03, 1.03);
  }
}
.ellipse-vector {
  width: 100%;
  height: auto;
}
.ellipse-vector img {
  transition: 1.5s;
}
.ellipse-vector img:hover {
  transform: rotate(180deg);
}

.ellipse-vector-img {
  width: 100%;
  height: auto;
}

.ellipse-relative {
  position: relative;
}

.ellipse-phone {
  width: 100%;
  height: auto;
  position: absolute;
  top: -160px;
  z-index: 1;
}

.buttons-container {
  width: 100%;
  max-width: 384px;
  margin: 266px auto 200px;
  display: flex;
  flex-direction: column;
}

.buttons-title {
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.563rem;
  line-height: 130%;
  text-transform: uppercase;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn-04 {
  width: 182px;
  height: 52px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.subscribe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1550px) {
  .subscribe-background {
    display: none;
  }

  .subscribe-container {
    grid-template-columns: 1fr;
  }

  .subscribe-form {
    padding-bottom: 30px;
  }

  .form-title {
    text-align: center;
  }
}
.subscribe-background {
  width: 970px;
  height: 1080px;
}

.subscribe-form {
  background: #1A1A1A;
  backdrop-filter: blur(4px);
}

.form {
  width: 100%;
  max-width: 580px;
  padding: 120px 10px 0;
  margin: 0 auto;
}

.form-title {
  font-size: 3.125rem !important;
  line-height: 130%;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.form-inputs {
  margin: 60px 0 70px 0;
  display: grid;
  row-gap: 50px;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-transform: uppercase;
  font-weight: 300;
  color: #8E8E8E;
  transition: 0.3s;
}

.form-input {
  width: 100%;
  padding-bottom: 14px;
  font-size: 1rem;
  color: white;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}
.form-input:focus, .form-input:hover {
  border-bottom: 2px solid #DCAC9B;
}
.form-input:focus ~ .form-label, .form-input:not(:placeholder-shown) ~ .form-label {
  top: -18px;
  font-size: 0.75rem;
}

.form-button {
  width: 100%;
  max-width: 560px;
  height: 59px;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 172%;
  outline: none;
  background: #DCAC9B;
  border: none;
  border-radius: 2px;
  transition: transform 0.3s;
}
.form-button:hover {
  transform: scale(1.01);
}

.footer {
  width: 100%;
  height: 110px;
  background-color: black;
  display: grid;
  align-content: center;
}

.footer-content {
  margin: 0 115px 0 125px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.footer-licence {
  display: flex;
  justify-content: end;
}

.footer-text {
  padding-left: 8px;
  font-size: 1rem;
  line-height: 165%;
  color: white;
}

@media (max-width: 425px) {
  .header-container {
    flex-direction: column;
  }

  .header-menu {
    margin-top: 50px;
  }

  .menu-item:not(:last-child) {
    padding-right: 16px;
  }

  .main-title {
    font-size: 6.25rem;
  }

  .text {
    font-size: 0.875rem;
  }

  .big-text {
    font-size: 1.563rem;
  }

  .footer-content {
    margin: 0 auto;
  }

  .coming-soon-container {
    margin-bottom: 50px;
  }

  .coming-soon-title {
    line-height: 100%;
  }

  .coming-soon-bg-title {
    padding-bottom: 30px;
  }

  .container-image-01 {
    top: -20px;
  }

  .info-container-01 {
    padding: 30px 0 0;
    flex-direction: column-reverse;
  }

  .info-text-01 {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

  .info-image {
    margin: 30px 0;
  }

  .container-02 {
    height: auto;
  }

  .info-text-02 {
    margin: 40px auto 0;
    padding: 0 20px;
  }

  .image-02 {
    display: none;
  }

  .image-02-01 {
    display: inline-block;
  }

  .wrapper-02 {
    flex-direction: column;
  }

  .container-image-02 {
    position: static;
    padding: 0;
  }

  .container-03 {
    margin-top: 40px;
    overflow: hidden;
  }

  .info-text-04 {
    margin: 20px 0;
  }

  .info-containers {
    flex-direction: column;
  }

  .figures-container {
    margin-top: 30px;
    padding: 0 5px;
    flex-direction: column;
  }

  .buttons-container {
    margin: 40px auto;
  }

  .subscribe-container {
    margin: 0;
  }

  .animated-block {
    transition: none;
    transform: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .info-container-01 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .container-image-02 {
    position: static;
  }

  .info-text-01 {
    padding: 0 10px;
  }

  .main-subtitle {
    padding: 0 20px 70px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .main-title {
    font-size: 10rem;
  }

  .menu-item:not(:last-child) {
    padding-right: 33px;
  }

  .container-image-02 {
    padding-top: 200px;
    position: static;
  }

  .container-03 {
    margin-top: 100px;
  }

  .buttons-container {
    margin: 0 auto 50px;
  }

  .figures-container {
    margin: 100px 0;
  }

  .info-containers {
    flex-direction: column;
    align-items: center;
  }

  .info-text-03 {
    margin-bottom: 30px;
  }

  .ellipse-phone {
    top: -90px;
  }
}
